#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.top-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px; 
  background-color: rgba(52, 39, 64, 0.95);
  border: 2.5px solid rgb(255, 255, 255); /* Forma curta de escrever border-style/color/width */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* Um pouco acima da sidebar */
}

.side-bar{
  position: fixed;
  top: 82.5px; /* 80px da altura da top-bar + 10px de margem (5px borda + gap) */
  left: 0;
  width: 200px; /* Em vez de 'right', define uma largura fixa */
  height: calc(100vh - 90px); /* Usa calc para ocupar o resto da altura do ecrã subtraindo o topo */
  background-color: rgba(52, 39, 64, 0.95);
  border: 2.5px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column; /* Organiza itens em coluna na sidebar */
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

.content-box{
  position: fixed;
  top: 102.8px;
  left: 225px;
  width: 1290px;
  height: calc(100vh - 122.8px);
  background-color: rgba(52, 39, 64, 0.95);
  border: 2.5px solid rgb(255, 255, 255);
  overflow-y: auto; /* Ativa o scroll apenas vertical */
  overflow-x: hidden; /* Garante que o conteúdo não "fuja" para os lados */
  border-radius: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1000;
  animation: expandFromCenter 0.4s ease-out forwards;
  /* Garante que a animação comece do centro da própria caixa */
  transform-origin: center;
}

@keyframes expandFromCenter {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.content-box-image{
  max-width: 100%; /* Não deixa a imagem sair da caixa */
  height: 60vh;    /* Mantém a proporção original */
  display: block;
  border-radius: 10px;
  border: 2.5px solid rgb(255, 255, 255);
  margin: 10px auto; /* Centraliza */
}

.projects-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 20px;
  padding-left: 15px; /* Faz parecer uma sub-lista */
  width: 100%;
  animation: expandFromCenter 0.4s ease-out forwards;
  /* Garante que a animação comece do centro da própria caixa */
  transform-origin: center;
}

.fixed-button{
  position: inherit;
  top: 100px;
}

.outlined-title-text{
  /* 1. Define the outline: width and color */
  -webkit-text-stroke: 1.5px black;
  /* 2. Optional: Set the main color of the text (often 'transparent' or a light color) */
  color: white;
  /* 3. Optional: Make it bold for better visibility */
  font-weight: bold;
  font-size: 30px;
}

.outlined-normal-text{
  -webkit-text-stroke: 0.8px black;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

