#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.top-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px; 
  background-color: rgba(171, 43, 226, 0.75);
  border: 2.5px solid blue; /* Forma curta de escrever border-style/color/width */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* Um pouco acima da sidebar */
}

.side-bar{
  position: fixed;
  top: 82.5px; /* 80px da altura da top-bar + 10px de margem (5px borda + gap) */
  left: 0;
  width: 200px; /* Em vez de 'right', define uma largura fixa */
  height: calc(100vh - 90px); /* Usa calc para ocupar o resto da altura do ecrã subtraindo o topo */
  background-color: rgba(43, 226, 86, 0.75);
  border: 2.5px solid blue;
  display: flex;
  flex-direction: column; /* Organiza itens em coluna na sidebar */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content-box{
  position: fixed;
  top: 102.8px;
  left: 225px;
  width: 1290px;
  height: calc(100vh - 122.8px);
  background-color: rgba(226, 168, 43, 0.75);
  border: 2.5px solid blue;
  border-radius: 10px;
  justify-content: left;
  align-items: center;
  z-index: 1000;
}




